body{
    margin: 0;
    background-image: url(background.png);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    align-items: center;
    background-color: #335F8A;
    width: 50%;
    height: 100%;
    flex-direction: column;
}
h1{
    font-size: 4em;
    font-family: Kanit, Arial, Helvetica, sans-serif;
}
h2{
    font-size: 2em;
    font-family: Kanit, Arial, Helvetica, sans-serif;
    text-align: center;

}
.head{
    color: white;
    display: flex;
    align-items: center;
    background-color: #335F8A;
    width: 50%;
    flex-direction: column;
}
.checkbox{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    background-color: #E1A624;
    border: #E1A624;
    margin-top: 10%;
    color: white;
}
fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(197, 197, 197);
    margin-bottom: 30px;
}
.score_recap{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E1A624;
    padding: 10px 20px 10px 20px;
    border-radius: 90px;
}

@media screen and (max-width: 1000px) {
    body{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #335F8A;
    }
    .container{
        width: 100%;
        margin: 0 30px 0 30px;
    }
    .head{
        width: 90%;
    }
    .top_img{
        width: 95%;
    }
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 1.5em;
        text-align: center;
    }
    h3{
        font-size: 1em;
    }
    img{
        width: 80%;
    }
    form{
        width: 100%;
    }
    input{
        width: 75%;
    }
    .indice{
        width: 70%;
    }
    
}